@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-width {
  width: 87%;
}

* {
  box-sizing: border-box;
}
.navBar-outline {
  width: 100%;
  padding: 20px 130px;
}
.logo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* .container {
  display: flex;
  align-items: center; 
} */
.imageContainer {
  /* padding-left: 260px; */
}
/* .logo-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
} */

.logo-image {
  width: 165px;
  height: 175px;
}
/* .text-content {
  width: 50%;
} */

/* zdfsdsssssssssssssssssssssssssssssssssssssssssssssssss */
.button {
  /* position: absolute;
  top: 183px;
  left: 1px; */
  height: 44px;
  /* padding: 0 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #424955ff;
  background: #00000000;
  opacity: 1;
  border: none;
  border-radius: 4px;
  gap: 6px;
}

.button .icon {
  width: 16px;
  height: 16px;
  fill: #424955ff;
}

/* Hover */
.button:hover {
  color: #424955ff;
  background: #eaecefff;
}

/* Pressed */
.button:hover:active {
  color: #424955ff;
  background: #dee1e6ff;
}

/* Disabled */
.button:disabled {
  opacity: 0.4;
}
.text-projects {
  /* position: absolute; */
  /* top: 68px; */
  /* left: 48px; */
  font-family: "Sarabun", sans-serif;
  font-size: 25px;
  line-height: 48px;
  font-weight: 700;
  color: #323842ff;
}
.button-browse-projects {
  /* position: absolute; */
  /* top: 947px;
  left: 617px; */
  margin-top: 2%;
  /* margin-left: 43%;*/
  margin-bottom: 5%;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  height: 52px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #e34d73ff;
  background: #00000000;
  opacity: 1;
  border-radius: 4px;
  border-width: 1px;
  border-color: #e34d73ff;
  border-style: solid;
}

/* Hover */
.button-browse-projects:hover {
  color: #d4214eff;
  background: #00000000;
}

/* Pressed */
.button-browse-projects:hover:active {
  color: #ba1d44ff;
  background: #00000000;
}

/* Disabled */
.button-browse-projects:disabled {
  opacity: 0.4;
}

.skills-image {
  width: 70px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}
.skills-image-1 {
  width: 70px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
}
.skills-heading {
  /* position: absolute;
  top: 56px;
  left: 132px; */
  font-family: Sarabun;
  /* font-size: 52px; */
  line-height: 74px;
  font-weight: 700;
  color: #323842ff;
}
.life-motto-p {
  padding-top: 30px;
  /* width: 512px; */
  font-family: Open Sans;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #323842ff;
}
.life-motto-div {
  padding-top: 80px;
}

.blogContainer {
  margin-top: 30px;
  margin-left: 12px;
}
.text-custom {
  width: 466px;
  height: 148px;
  font-family: "Sarabun", sans-serif;
  font-size: 52px;
  line-height: 74px;
  font-weight: 700;
  color: #ffffff;
}

.circle {
  position: relative;
  width: 200px/2;
  height: 200px;
  border-radius: 50%;
  /* background: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(/images/icons/arrow-down-1.png);
  background-size: cover;
  border-radius: 50%;
  filter: brightness(1.5) contrast(1.5);
}
.text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2 rem;
  transform-origin: 0 100px;
}

.features-list {
  list-style-type: none;
  padding: 0;
}
.features-list li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.features-list li::before {
  content: "🔹";
  margin-right: 10px;
  font-size: 20px;
  color: #007bff;
}
.feature-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.video-container {
  margin-top: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.reference-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0 auto; /* Center the list */
}
.reference-list li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.reference-list li::before {
  content: "🔹";
  margin-right: 10px;
  font-size: 20px;
  color: #007bff;
}
.reference-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.reference-list a {
  color: blue;
  text-decoration: underline;
}
.italic-text {
  font-style: italic;
}
